name: Push to Replicate

on:
  push:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Cog
        run: |
          sudo curl -o /usr/local/bin/cog -L https://github.com/replicate/cog/releases/latest/download/cog_linux_x86_64
          sudo chmod +x /usr/local/bin/cog
          echo "${{ secrets.REPLICATE_API_TOKEN }}" | cog login --token-stdin

      - name: Push to Replicate
        run: cog push r8.im/YOUR_USERNAME/gfpgan
